<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/profile/ryu">Profile Ryu</a></li>
        <li><a href="/form8">Form8</a></li>
    </ul>
</nav>