<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <%- include ('partials/nav') -%>
        <h1>Welcome to the ejs express index page.</h1>
        <p> Full of the best Lorem Ipsum! </p>
    </body>
    </html>